.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #FEC0C0;
}

.login__title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: "Roboto", "sans-serif";
}

#logo-login {
    width: 150px;
}

/*Form Inputs*/
.login__form input[type="email"],
.login__form input[type="password"] {
    background-color: #18825C;
    opacity: 0.70;
    color: white;
    width: 290px;
    font-family: "Roboto", "sans-serif";
    border-radius: 10px;
}

.login__form input[type="email"]::placeholder,
.login__form input[type="password"]::placeholder,
.login__form input:focus {
    color: white;
    font-family: "Roboto", "sans-serif";
}

.login__form input:-webkit-autofill,
.login__form input:-webkit-autofill:hover, 
.login__form input:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
  font-family: "Roboto", "sans-serif";
}

/*last elements*/
.login__signp__link {
    color: #2B6FD2;
    padding-top: 0.3em;
}

.login__signup__question {
    font-size: 15px;
    padding-top: 30px;
    font-family: "Roboto", "sans-serif";
}

@media(max-width:410px) {

    .login__form input[type="email"],
    .login__form input[type="password"] {
        width: 230px;
        font-size: 13px;
    }
}