.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #FEC0C0;
}

.login__title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
    font-family: "Roboto", "sans-serif";
}

.login__logo {
    width: 130px;
    margin-bottom: 50px;
}

/*Form Inputs*/
.login__form input[type="email"],
.login__form input[type="password"],
.login__form input[type="text"]{
    background-color: #18825C;
    opacity: 0.70;
    color: white;
    width: 300px;
    font-family: "Roboto", "sans-serif";
    border-radius: 10px;
    margin-bottom: 10px;
}

.login__form input[type="email"]::placeholder,
.login__form input[type="password"]::placeholder,
.login__form input:focus {
    color: white;
    font-family: "Roboto", "sans-serif";
}

.login__form input:-webkit-autofill,
.login__form input:-webkit-autofill:hover, 
.login__form input:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
  font-family: "Roboto", "sans-serif";
}

/*last elements*/
.login__link__signup {
    color: #2B6FD2;
    padding-top: 0.3em;
    font-size: 15px;
}

.login__question {
    font-size: 15px;
    padding-top: 50px;
    font-family: "Roboto", "sans-serif";
}

@media(max-width:410px) {
    .login {
        padding-top: 10px;
    }
    .login__form input[type="email"],
    .login__form input[type="password"],
    .signup__form input[type="text"] {
        width: 230px;
        font-size: 13px;
        margin-bottom: 5px;
    }

    .login__title {
        font-size: 16px;
    }

    .login__link__signup,
    .login__question {
        font-size: 14px;
    }
}