.passwordForm__error__icon,
.passwordForm__error,
.passwordForm__error__title {
    color: #2B6FD2;
    font-size: min(max(2vw, 11px), 15px);
    padding-bottom: 5px;
}

.passwordForm__error {
    display: flex;
    text-align: start;
    padding-top: 3px;
}

.passwordForm__error__icon {
    padding-right: 5px;
    padding-top: 3px;
}