.profilePageContainer {
  width: 100%;
  position: absolute;
  min-height: 1000px;
  background-color: #fec0c0;
  font-family: "Sporting", "sans-serif";
}

#titleContainer {
  padding-top: 50px;
  max-width: 800px;
  margin: 0 auto;
  text-align: start;
  min-height: 100%;
  width: 100%;
  background-color: #fec0c0;
}

#profileTitle {
  font-weight: bold;
  width: 100%;
  max-width: 800px;
  font-size: 40px;
  margin-bottom: 0.5em;
  font-family: "Sporting", "sans-serif";
  text-align: center;
  color: #2b6fd2;
}

.mainsection-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 800px;
  margin: 0 auto;
  height: auto;
  padding-bottom: 3em;
  background-color: #0e835b;
}

.photoProfileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin-top: 1em;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  flex-grow: 1;
  margin-top: 1.5em;
}

.saveChangesButton {
  background-color: #2b6fd2;
  color: white;
  font-weight: bold;
  font-family: "Sporting", "sans-serif";
  cursor: pointer;
  margin-left: 0.5em;
}

.titleInsideContainer {
  font-weight: bold;
  font-size: 25px;
  font-family: "Sporting", "sans-serif";
  color: white;
}

.personalInformationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin-top: 1.5em;
}

#titleQuizzesContainer {
  padding-top: 50px;
  max-width: 800px;
  margin: 0 auto;
  text-align: start;
  min-height: 100%;
  width: 100%;
  background-color: #fec0c0;
}

#quizzesTitle {
  font-weight: bold;
  width: 100%;
  max-width: 800px;
  font-size: 40px;
  margin-bottom: 0.5em;
  font-family: "Sporting", "sans-serif";
  text-align: center;
  color: #2b6fd2;
}

#photoProfileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
