.myProfile__container {
  width: 100%;
  position: absolute;
  min-height: 1000px;
  background-color: #fec0c0;
  font-family: "Sporting", "sans-serif";
}

.myProfile__titleContainer {
  padding-top: 50px;
  max-width: 800px;
  margin: 0 auto;
  text-align: start;
  min-height: 100%;
  width: 100%;
  background-color: #fec0c0;
}

#myProfile__title {
  font-weight: bold;
  width: 100%;
  max-width: 800px;
  font-size: 40px;
  margin-bottom: 0.5em;
  font-family: "Sporting", "sans-serif";
  text-align: center;
  color: #2b6fd2;
}

.myProfile__textSmall {
  font-size: 20px;
  color: white;
}

.myProfile__mainSectionContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 800px;
  margin: 0 auto;
  height: auto;
  padding-bottom: 3em;
  background-color: #0e835b;
}

.myProfile__photoProfileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin-top: 1em;
}

.myProfile__personalDataContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 1.5em;
}

.myProfile__logOutButton {
  border: 0;
  outline: 0;
  cursor: pointer;
  color: white;
  background-color: #2b6fd2;
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(84 105 212) 0px 0px 0px 1px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(60 66 87 / 8%) 0px 2px 5px 0px;
  border-radius: 4px;
  margin: 10px;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 10px;
  display: inline-block;
  min-height: 28px;
  transition: background-color 0.24s, box-shadow 0.24s;
}

.myProfile__logOutButton:hover {
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(84 105 212) 0px 0px 0px 1px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 3px 9px 0px,
    rgb(60 66 87 / 8%) 0px 2px 5px 0px;
}

.myProfile__editButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2em;
  gap: 10px;
}

.myProfile__editButton {
  border: 0;
  outline: 0;
  cursor: pointer;
  color: white;
  background-color: #2b6fd2;
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(84 105 212) 0px 0px 0px 1px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(60 66 87 / 8%) 0px 2px 5px 0px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 90px;
  display: inline-block;
  min-height: 28px;
  transition: background-color 0.24s, box-shadow 0.24s;
}

.myProfile__editButton:hover {
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(84 105 212) 0px 0px 0px 1px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 3px 9px 0px,
    rgb(60 66 87 / 8%) 0px 2px 5px 0px;
}

.myProfile__titleInsideContainer {
  font-weight: bold;
  font-size: 25px;
  font-family: "Sporting", "sans-serif";
  text-align: center;
  color: white;
}

.myProfile__photoProfileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}