/*Errors*/
.error-message-form,
.error-icon-form,
.error-form {
    color: firebrick;
}

.error-message-form {
    display: flex;
}

.error-icon-form {
    padding-right: 5px;
    padding-top: 3px;
}

