@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

.answerQuiz{
    background-color: #FEC0C0; 
    font-family: "Roboto", "sans-serif";
    overflow-x: hidden;
    color: #000000;
}

.answerQuiz__block{
    margin: 0 auto;
    padding-top: 60px;
    max-width: 840px;
    min-width: 300px;
    width: 90%;
}

.answerQuiz__block__title{
    font-weight: bold;
    margin-bottom: 68px;
    text-align: center;
    font-size: 28px;
    color: #3072CF;
}

.answerQuiz__block__form{
    padding-bottom: 50px;
}

@media(max-width:950px){
    .answerQuiz__block__title{
        font-size: 20px;
    }
}

@media(max-width:720px) {
    .answerQuiz__block__title{
        margin-bottom: 30px;
    }
}
