@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

.submitButton {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    width: 100%;
}

.submitButton__button{
    background-color: #2B6FD2;
    color: white;
    font-family: "Roboto", "sans-serif";
    cursor: pointer;
    margin-left: 0.5em;
    border-radius: 10px;
    padding: 0 30px;
}

.submitButton__button:hover{
    color: white; 
}

@media(max-width:800px) {
    .submitButton__button{
        font-size: 14px;
    }
}