:root {
    --color-blue: #2B6FD2;
    --color-pink: #FDC0C0;
    --color-white: #FFFFFF;
    --color-green: #15835C;
    --color-shade-of-green: #84C195;
    --color-shade-of-blue: #3072CF;
    --color_shade-of-white: #D9D9D9;
  }

.navigation{
    background-color: var(--color-pink);
}

.navigation__logo__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.navigation__logo{
    height: 100%;
    margin: 0px 15px 0px 20px;
}

.navigation__profile__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.navigation__logout-and-profile {
    display: flex;
    align-items: center;
    padding: 30px;
}

.navigation__search__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 40px;
    background-color: var(--color-pink);
}

.searchBar{
    border-bottom: none!important;
    flex-grow: 0.5;
    width: 30%;  
}

.navigation__searchbar-input {
    border-radius: 10px;
    background-color: var(--color-shade-of-green);
    color: var(--color-white);
}

.navigation__searchbar-input::placeholder {
    color: var(--color-white);
    opacity: 1;
}

.button-navigation {
    /* A retirer quand on voudra le remettre dans le profile ou ailleurs */
    visibility: hidden;
    background-color: #2B6FD2;
    color: var(--color-white);
    font-weight:bold;
    font-family: "Sporting", "sans-serif";
    cursor: pointer;
    margin-left: 0.5em;
}

.profile {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    margin : 0px 20px 0px 15px;
    flex-grow: 1;
}

/* Menu */

.menu {
    background-color: #17835C;
    height: 60px;
    margin: 2em 0em 0em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.menu-items {
    display: flex;
}

.menu-link{
    color: var(--color-white);
    padding: 0 1rem;
    text-align: center;
    align-self: center;
}
.menu-link:hover {
    color: #F2E669;
}

/* Navbar */
.navbar-burger {
    width: 40px !important;
    height: 40px;
    background: transparent;
    color: var(--color-white);
    border: none;
    display: none;
}

.navbar-burger span {
    left: 0!important;
}

/* Responsive */
@media screen and (max-width:830px) {
    .navigation__profile__container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .navigation__logout-and-profile {
        padding: 15px;
    }

    .profile {
        margin : 0px;
    }

    .navigation__search__container {
        display: none;
    }

    .menu {
        height: 0;
    }

    .searchBar {
        flex-grow: 3;
        visibility: hidden;
    }

    .menu-items {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: -100vw;
        bottom: 0;
        height: 100vh;
        padding: 2rem;
        background-color: #17835C;
        visibility: hidden;
        z-index: 3;
    }

    .show-navigation, .show-navigation .upper-part-navigation-container {
        background-color: #17835C;
        color: #FFFFFF;
        z-index: 3;
        position: fixed;
    }

    .show-navigation .input {
        background-color: #F2E669;
        color: #17835C;
    }

    .show-navigation  .logo-navigation {
        visibility: hidden;
    }

    .show-navigation .profile{
        visibility: visible;
        position: fixed;
        top: 0.2rem;
        left: 0.1rem;
    }

    .show-navigation .searchBar{
        visibility: visible;
    }

    .show-menu .menu-items {
        width: 100vw;
        height: calc(100vh - 100px) !important;
        right: 0;
        visibility: visible;
    }
    .menu-link {
        display: block;
        padding: 1.5rem;
        font-size: 4vw;
    }
    .navbar-burger {
        display: block;
        position: fixed;
        top: 2rem;
        right: 2rem;
    }
    .navbar-burger:hover {
        cursor: pointer;
    }
    .burger-bar,
    .burger-bar::before,
    .burger-bar::after {
        display: block;
        width: 40px!important;
        height: 3px !important;
        position: relative;
        border-radius: 3px;
        background: #FFFFFF;
    }
    .burger-bar::before,
    .burger-bar::after {
        content: "";
        position: absolute;
        left: 0;
    }
    .burger-bar::before {
        transform: translateY(-12px)
    }
    .burger-bar::after {
        transform: translateY(12px)
    }
}
