.header{
    background-color: #FEC0C0;
}

.upperPartHeaderContainer {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 100px;
    justify-content: space-between;
    background-color: #FEC0C0;
}

.menuContainer {
    background-color: #17835C;
    height: 60px;
    margin: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logoHeader{
    height: 100px;
    margin-left: 3em;
}

.searchBar{
    border-bottom: none!important;
    flex-grow: 0.5;
}

@media only screen and (max-width: 1024px) {
    .upperPartHeaderContainer {
        display: block;
    }
    .input {
        position: relative;
        flex: 1 1;
    }
}

.input {
    background-color: #17835C;
    color: #F2E669;
}

.button {
    background-color: #2B6FD2;
    color: white;
    font-weight: bold;
    font-family: "Sporting", "sans-serif";
    cursor: pointer;
    margin-left: 0.5em;
}

.logoutAndProfile {
    display: flex;
    align-items: center;
}

.profile {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-right: 20px;
    margin-left: 15px;
    flex-grow: 1;
}


.navbar-item{
    color: #FFFFFF;
    min-width: 180px;
    justify-content: center;
}