@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

.quizAnswerQuestion{
    padding: 56px;
    background-color: #f1d5d5;
    margin-bottom: 20px;
    border-radius: 20px;
    font-family: 'Roboto';
    font-style: normal;
    min-height: 200px;
}

.quizAnswerQuestion__questionNumber{
  font-weight: 700;
  line-height: 23px;
}

.quizAnswerQuestion__questionSection{
  left: 181px;
  top: 935px;
  background: #E5D8D4;
  border-radius: 20px;
  padding: 15px;
  display: block;
}

.quizAnswerQuestion__questionSection__inputContainer{
  padding-top: 24px;
  display: flex;
}

.quizAnswerQuestion__questionSection__title,
.quizAnswerQuestion__questionSection__label,
.quizAnswerQuestion__questionNumber{
  font-size: 20px;
}

.quizAnswerQuestion__questionSection__title{
  font-weight: bold;
  padding-left: 18px;
}

.quizAnswerQuestion__questionSection__label{
  display: inline-block;
  margin-left: 10px;
  background-color: #8EB19F;
  border-radius: 10px;
  max-width: 680px;
  width: 100%;
  padding: 2px 0 2px 10px;
  cursor: pointer;
}

@media(max-width:950px) {
  .quizAnswerQuestion{
    padding: 30px;
  }
  .quizAnswerQuestion__questionSection__title,
  .quizAnswerQuestion__questionSection__label,
  .quizAnswerQuestion__questionNumber{
    font-size: 14px;
  }
}

@media(max-width:450px) {
  .quizAnswerQuestion{
    padding: 20px;
  }
}