.formError,
.formError__icon,
.formError {
    color: #2B6FD2;
}

.formError {
    display: flex;
    text-align: start;
    padding-top: 3px;
}

.formError__icon {
    padding-right: 5px;
    padding-top: 3px;
}

@media(max-width:700px){
    .formError,
    .formError__icon,
    .formError{
        font-size: 13px;
    }
}