.form__error__icon,
 .form__error {
     color: #2B6FD2;
 }

 .form__error {
     display: flex;
     text-align: start;
     padding-top: 3px;
 }

 .form__error__icon {
     padding-right: 5px;
     padding-top: 3px;
 }

 @media(max-width:700px){
     .form__error,
     .form__error__icon,
     .form__error{
         font-size: 13px;
     }
 }