.enterSurname__input{
    background-color: #18825C;
    opacity: 0.70;
    color: white;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.enterSurname__input::placeholder {
    color: white;
}

.enterSurname__input:-webkit-autofill,
.enterSurname__input:-webkit-autofill:hover, 
.enterSurname__input:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
  font-family: "Roboto", "sans-serif";
}

@media(max-width:410px) {
    .enterSurname__input {
        width: 230px;
        font-size: 13px;
        margin-bottom: 5px;
    }
}