.quiz-creation-page-container{
    width: 100%;
    position: absolute;
    min-height: 1000px;
    background-color: #FEC0C0; 
    font-family: "Sporting", "sans-serif";
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#quiz-creation-form-container{
    padding-top: 100px;
    max-width: 800px;
    min-width: 300px;
    margin: 0 auto;
    text-align: start;
    justify-content: center;
    min-height: 100%;
}

#title-quiz-creation{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0.5em;
    font-family: "Sporting", "sans-serif";
    text-align: center;
}

.section-container{
    padding: 30px;
    background-color: #f1d5d5;
    margin-bottom: 20px;
}

.question-number{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

/*Form Inputs*/
#quiz-creation-form-container input[type="text"],
#quiz-creation-form-container textarea,
#select-categories {
    background-color : #256AD0;
    color: white;
    width: 100%;
    font-family: "Sporting", "sans-serif";
}

#quiz-creation-form-container input[type="text"]::placeholder,
#quiz-creation-form-container textarea::placeholder,
#select-categories::placeholder,
#quiz-creation-form-container input:focus{
    color: white;
    font-family: "Sporting", "sans-serif";
}

#quiz-creation-form-container input:-webkit-autofill,
#quiz-creation-form-container input:-webkit-autofill:hover, 
#quiz-creation-form-container input:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
  font-family: "Sporting", "sans-serif";
}

#select-categories-container {
    margin-top: 10px;
}

#select-categories {
    height: 40px;
    max-width: 800px;
}


#reply-field {
    width: 100%;
    padding-left: 0px;
}

#quiz-creation-form-container input[type="checkBox"]{
    margin-right: 10px;
    margin-top: 10px;
}

.replies-container{
    max-width: 700px;
}

/*questions*/
.add-question{
    background-color: #2B6FD2;
    color: white;
    font-weight: bold;
    font-family: "Sporting", "sans-serif";
    cursor: pointer;
    margin-left: 580px;
    margin-bottom: 30px;
}

/*answers*/
.add-answer-container{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}


.add-answer{
    background-color: #2B6FD2;
    color: white;
    font-weight: bold;
    font-family: "Sporting", "sans-serif";
    cursor: pointer;
}

.delete-question{
    color: red;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    left: 710px;
    top: -10px;
}

.remove-question-icon{
    height: 2em;
    padding-bottom: 0.8em;
}

.remove-answer{
    background-color: grey;
    color: white;
    font-weight: bold;
    font-family: "Sporting", "sans-serif";
    cursor: pointer;
}

.answer-and-delete{
    display: flex;
}

#reply-field > input[type="text"] {
    background-color: #0E835B;
    /*A voir si garder*/
    max-width: 694px;
}

/*Error messages*/
.error-message-quiz-creation-container{
    display: flex;
    flex-direction: row;   
}

.error-Icon-quiz-creation{
    color: firebrick;
    padding-left: 3px;
    padding-right: 7px;
    padding-top: 0.5em;
}

.error-content-quiz-creation{
    color: firebrick;
    padding-top: 0.3em;
    text-align: start;
}


@media(max-width:900px){

    #quiz-creation-form-container{
        max-width: 650px;
        margin: 0 auto;
    }
    .delete-question{
        left: 550px;
    }

    .add-question{
        margin-left: 430px;
    }
}

{/*Affiner version mobile*/}
@media(max-width:700px){

    #quiz-creation-form-container{
        max-width: 550px;
        margin: 0 auto;
    }
    .delete-question{
        left: 450px;
    }

    .add-question{
        margin-left: 330px;
    }
}