.enterPassword {
    position: relative;
}

.enterPassword__input{
    background-color: #18825C;
    opacity: 0.70;
    color: white;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.enterPassword__input::placeholder {
    color: white;
}

.enterPassword__input:-webkit-autofill,
.enterPassword__input:-webkit-autofill:hover, 
.enterPassword__input:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
  font-family: "Roboto", "sans-serif";
}

.enterPassword__toggle__visibility {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 8px;
}

.enterPassword__toggle__visibility__icon {
    color: 	#D3D3D3;
    height: 18px;
}

@media(max-width:410px) {
    .enterPassword__input {
        width: 230px;
        font-size: 13px;
        margin-bottom: 5px;
    }

    .enterPassword__toggle__visibility__icon {
        height: 15px;
    }

    .enterPassword__toggle__visibility {
        right: 0;
        left: 190px;
        top: 7px;
    }
}