:root {
    --color-blue: #2B6FD2;
    --color-pink: #FEC0C0;
    --color-white: #FFFFFF;
    --color-green: #15835C;
  }

.explore {
    display: flex;
    align-items: center;
    flex-direction: column; 
    min-height: 100rem;
    background-color: var(--color-pink);
    font-family: system-ui;
}

.explore__container-title {
    margin: 2rem;
    font-size: 3rem ;
    color: var(--color-blue);
    font-weight: bold; 
    margin-bottom: 10%; 
}

.explore__container-list__item {
    border-radius: 0.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 2rem;
    margin: 1rem;
    color: var(--color-white);
    background-color: var(--color-green);
    font-size: 1rem;
    font-weight: bold; 
}