@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

.signup{
    min-height: 1000px;
    background-color: #FEC0C0;
    font-family: "Roboto", "sans-serif";
}

.signup__section{
    padding-top: 100px;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    min-height: 100%;
    width: 100%;
}

.signup__title{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}

.signup__logo{
    width: 130px;
    margin-bottom: 50px;
}

.signup__question{
    font-size: 16px;
    padding-top: 50px;
}

.signup__link__login,
.signup__link__login:hover{
    color: #2B6FD2;
}

.signup__link__login {
    padding-top: 0.3em;
    font-size: 16px;
}

@media(max-width:410px) {
    .signup__section{
        max-width: 230px;
        padding-top: 10px;
    }

    .signup__title{
        font-size: 16px;
    }

    .signup__question,
    .signup__link__login{
        font-size: 14px;
    }
}