@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

.createQuiz__page{
    width: 100%;
    position: absolute;
    min-height: 1000px;
    background-color: #FEC0C0; 
    font-family: "Roboto", "sans-serif";
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.createQuiz__form{
    margin: 0 auto;
    padding-top: 60px;
    min-height: 100%;
    max-width: 840px;
    min-width: 300px;
}

.createQuiz__page__title{
    font-weight: bold;
    font-weight: 600;
    font-size: 28px;
    color: #3072CF;
    margin-bottom: 0.5em;
    text-align: center;
    margin-bottom: 40px;
}

.createQuiz__information{
    max-width: 840px;
    padding: 30px 100px;
    background-color: #f1d5d5;
    margin-bottom: 20px;
    border-radius: 20px;
}

.createQuiz__explanation{
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 15px;
}

.createQuiz__explanation__undelined {
    text-decoration: underline;
}

@media(max-width:900px){

    .createQuiz__form{
        max-width: 650px;
        margin: 0 auto;
    }

    .createQuiz__information{
        padding: 30px 60px;
        background-color: #f1d5d5;
    }

    .createQuiz__page__title{
        margin-bottom: 20px;
        font-size: 20px;
    }
}

@media(max-width:700px){

    .createQuiz__form{
        max-width: 500px;
        margin: 0 auto;
    }

    .createQuiz__information{
        padding: 30px 50px;
        background-color: #f1d5d5;
    }

    .createQuiz__explanation{
        font-size: 14px;
    }
}

@media(max-width:550px) {
    .createQuiz__form{
        max-width: 400px;
    }
}

@media(max-width:450px) {
    .createQuiz__form{
        max-width: 280px;
    }

    .createQuiz__information{
        padding: 30px 30px;
        background-color: #f1d5d5;
    }

    .createQuiz__explanation{
        font-size: 12px;
    }

    .createQuiz__explanation{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}